
<div class="row mb-5">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdministrador" data-whatever="@mdo">Agregar</button>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USUARIO</th>
        <th scope="col">PASSWORD</th>
        <th scope="col">ACTIVO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let administrador of listAdministrador">
        <th scope="row">{{administrador.id}}</th>
        <td>{{administrador.usuario}}</td>
        <td>{{administrador.password}}</td>
        <td>{{administrador.activo}}</td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" id="modalAdministrador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingresar Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="administradorForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Usuario:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="usuario">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Password:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="password">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Activo:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="activo">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="registrarAdministrador()" [disabled]="administradorForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </div>
