<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Registrar Datos del personal: {{personal}}</h4>
        <h6 class="card-subtitle">Por favor seleccione una opcion para ingresar sus datos</h6>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <button type="button" class="btn waves-effect waves-light btn-lg btn-block btn-primary" data-toggle="modal"
              data-target="#modalRecordLaboral">
              <i class="fa fa-user-graduate"></i>
              Registrar Record Laboral</button>
          </div>
          <div class="col-lg-6 mb-4">
            <button type="button" class="btn waves-effect waves-light btn-lg btn-block btn-danger" data-toggle="modal"
            data-target="#modalVacacional"><i
                class="fa fa-umbrella"></i> Registrar Record
              Vacacional</button>
          </div>
          <div class="col-lg-6 mb-4">
            <button type="button" class="btn waves-effect waves-light btn-lg btn-block btn-secondary"
              data-toggle="modal" data-target="#modalLicencias">
              <i class="fa fa-truck"></i>
              Registrar Licencias</button>
          </div>
          <div class="col-lg-6 mb-4">
            <button type="button" class="btn waves-effect waves-light btn-lg btn-block btn-warning"><i
                class="fa fa-street-view"></i> Registrar
              Merito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Generar Reportes</h4>
        <h6 class="card-subtitle">Por favor seleccione una opcion para generar reportes</h6>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <select class="form-control custom-select" data-placeholder="Choose a Category" tabindex="1" (change)="filtrarOpcion($event)">
                <option value="">Seleccionar Opcion</option>
                <option value="1">Mostrar Record Laboral</option>
                <option value="2">Nostrar Record Vacacional</option>
                <option value="3">Mostrar Licencias</option>
                <option value="4">Mostrar Merito</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4">
            <button type="button" class="btn waves-effect waves-light btn-block btn-secondary" (click)="mostrarTablas()"><i class="fa fa-eye"></i>
              Mostrar Datos</button>
          </div>
          <div class="col-lg-4">
            <button type="button" class="btn waves-effect waves-light btn-block btn-secondary" (click)="generarReporte()"><i
                class="fa fa-file-pdf"></i> Generar Reporte</button>
          </div>
          <div class="col-lg-12 invi" id="tableRecord">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DOCUMENTO QUE AUTORIZA</th>
                    <th scope="col">DEPENDENCIA</th>
                    <th scope="col">CARGO FUNCIONAL</th>
                    <th scope="col">DESDE</th>
                    <th scope="col">HASTA</th>
                    <th scope="col">DOCUMENTO</th>
                    <th>EDITAR</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let general of listRecord">
                    <th scope="row">{{general.id}}</th>
                    <td>{{general.codigo_documento}}</td>
                    <td>{{general.dependencia}}</td>
                    <td>{{general.Cargo.descripcion}}</td>
                    <td>{{general.inicio}}</td>
                    <td>{{(general.fin==='2030-12-30')?'ACTUALIDAD':general.fin}}</td>
                    <td class="text-center">
                      <a href="{{url}}/{{general.documento}}" class="btn btn-warning" target="_blank">
                        <i class="fa fa-file-pdf"></i>
                       </a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarGeneral" data-whatever="@mdo">
                        <i class="fa fa-edit"></i>
                      </button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-12 invi" id="tableLicencia">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>DOCUMENTO QUE AUTORIZA</th>
                    <th>TIPO</th>
                    <th>DETALLE</th>
                    <th>N° DIAS</th>
                    <th>DESDE</th>
                    <th>HASTA</th>
                    <th>DOCUMENTO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let licencia of listLicencia">
                    <td>{{licencia.id}}</td>
                    <td>{{licencia.codigo_documento}}</td>
                    <td>{{licencia.DetalleLicencium.TipoLicencium.nombre}} </td>
                    <td>{{licencia.DetalleLicencium.nombre}} </td>
                    <td>{{licencia.dias}}</td>
                    <td>
                      {{licencia.inicio}}
                    </td>
                    <td>
                      {{licencia.fin}}
                    </td>
                    <td class="text-center">
                      <a href="{{url2}}/{{licencia.documento}}" class="btn btn-warning" target="_blank">
                        <i class="fa fa-file-pdf"></i>
                       </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-12 invi" id="tableVacacional">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>DOCUMENTO QUE AUTORIZA</th>
                    <th>PERIODO</th>
                    <th>INICIO</th>
                    <th>TERMINO</th>
                    <th>EJERCICIO EFECTIVO</th>
                    <th>DOCUMENTO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vacacional of listVacacional">
                    <td>{{vacacional.id}}</td>
                    <td>{{vacacional.codigo_documento}}</td>
                    <td>{{vacacional.periodo}} </td>
                    <td>{{vacacional.inicio}} </td>
                    <td>{{vacacional.termino}}</td>
                    <td>{{vacacional.dias}}</td>
                    <td class="text-center">
                      <a href="{{url2}}/{{vacacional.documento}}" class="btn btn-warning" target="_blank">
                        <i class="fa fa-file-pdf"></i>
                       </a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

</div>


<div class="modal fade" id="modalRecordLaboral" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar Record Laboral</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="generalForm">
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR TIPO DE PERIODO</h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Documento:</label><br>
                <select class="form-control custom-select" formControlName="periodo">
                  <option value="">Seleccionar</option>
                  <option value="1">PRINCIPAL</option>
                  <option value="2">ENCARGO DE FUNCIONES</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR CODIGO DE DOCUMENTO</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Documento:</label><br>
                <select class="form-control custom-select" formControlName="tipodocumento">
                  <option selected value="">Seleccionar</option>
                  <option *ngFor="let tipodoc of listTipodocumento" value="{{tipodoc.id}}">{{tipodoc.descripcion}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Numero:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="numero">
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Año:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="ano">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Sigla:</label><br>
                <select class="form-control custom-select" (change)="buscarSigla($event)" formControlName="tiposigla">
                  <option value="0">Seleccionar</option>
                  <option value="1">Organo</option>
                  <option value="2">Unidad Organica</option>
                  <option value="3">Area</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Area que autoriza:</label><br>
                <select class="form-control custom-select" formControlName="autoriza">
                  <option value="0">Seleccionar</option>
                  <option *ngFor="let autoriza of listAutoriza" value="{{autoriza.id}}">{{autoriza.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR DEPENDENCIA</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Dependecia:</label><br>
                <select class="form-control custom-select" (change)="buscarDependencia($event)"
                  formControlName="tipodependencia">
                  <option selected value="">Seleccionar</option>
                  <option value="1">Organo</option>
                  <option value="2">Unidad Organica</option>
                  <option value="3">Area</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Dependencia:</label><br>
                <select class="form-control custom-select" formControlName="dependencia">
                  <option selected value="">Seleccionar</option>
                  <option *ngFor="let dependencia of listDependencia" value="{{dependencia.id}}">{{dependencia.nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR CARGO</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Personal:</label><br>
                <select class="form-control custom-select" formControlName="cargo"
                  (change)="filtrarTipoPersonal($event)">
                  <option selected value="">Seleccionar</option>
                  <option *ngFor="let tipopersonal of listTipoPersonal" value="{{tipopersonal.id}}">
                    {{tipopersonal.titulo}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Cargo:</label><br>
                <select class="form-control custom-select" formControlName="cargo">
                  <option selected value="">Seleccionar</option>
                  <option *ngFor="let cargo of listCargo" value="{{cargo.id}}">{{cargo.descripcion}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR PERIODO LABORAL</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Desde:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="desde">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Hasta:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="hasta">
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR DOCUMENTO QUE AUTORIZA
              </h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group validate">
                <h5>Adjuntar Documento <span class="text-danger">*</span></h5>
                <div class="controls">
                  <input type="file" name="file" id="filesInput" class="form-control" required="" aria-invalid="false"
                    #fileInput (change)="capturarFile($event)" accept="application/pdf">
                  <div class="help-block">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelaruno()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="registrarGeneral()"
          [disabled]="generalForm.invalid">Registrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalLicencias" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar Licencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="licenciaForm">
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR CODIGO DE DOCUMENTO</h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Documento:</label><br>
                <select class="form-control custom-select" (change)="mostrarProveido($event)" formControlName="tipodocumento">
                  <option value="">Seleccionar</option>
                  <option value="1">Proveido</option>
                  <option value="2">Resoluciones Administrativas</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 invi" id="selectLiUno">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar el area:</label><br>
                <select class="form-control custom-select" formControlName="areauno">
                  <option value="">Seleccionar</option>
                  <option value="1">PRESIDENCIA</option>
                  <option value="2">RECURSOS HUMANOS</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 invi" id="selectLiDos">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar el area:</label><br>
                <select class="form-control custom-select" formControlName="areados">
                  <option value="">Seleccionar</option>
                  <option value="1">PRESIDENCIA</option>
                  <option value="2">GERENCIA DE ADMINISTRACION DISTRITAL</option>
                  <option value="3">COORDINACION DE RECURSOS HUMANOS</option>
                  <option value="4">OFICINA DE ADMINISTRACION</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Numero:</label>
                <input type="number" class="form-control" id="recipient-name" formControlName="numero">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Año:</label>
                <input type="number" class="form-control" id="recipient-name" formControlName="ano">
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR TIPO DE LICENCIA</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Licencia:</label><br>
                <select class="form-control custom-select" (change)="mostrarDetalleLicencia($event)">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let tipo of listTipoLicencia" value="{{tipo.id}}">{{tipo.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Detalle de Licencia:</label><br>
                <select class="form-control custom-select" formControlName="detallelicencia">
                  <option value="">Seleccionar</option>
                  <option *ngFor="let detalle of listDetalleLicencia" value="{{detalle.id}}">{{detalle.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR PERIODO DE LICENCIA</h5>
              <hr>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Desde:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="inicio" >
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Hasta:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="fin">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR DOCUMENTO DE LICENCIA
              </h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group validate">
                <h5>Adjuntar Documento <span class="text-danger">*</span></h5>
                <div class="controls">
                  <input type="file" name="file" id="filesInput" class="form-control" required="" aria-invalid="false"
                    #fileLicencia (change)="capturarFileLicencia($event)" accept="application/pdf">
                  <div class="help-block">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelardos()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="registrarLicencia()" [disabled]="licenciaForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalVacacional" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registrar Record Vacacional</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="vacacionalForm">
          <div class="row">
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">GENERAR CODIGO DE DOCUMENTO</h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Documento:</label><br>
                <select class="form-control custom-select"
                  (change)="mostrarTipoDocVacional($event)"
                  formControlName="tipodocumento"
                >
                  <option value="">Seleccionar</option>
                  <option value="1">Resolucion Administrativa</option>
                  <option value="2">Memorandum</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 invi" id="selectAreaUno">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar el area:</label><br>
                <select class="form-control custom-select" formControlName="areauno">
                  <option value="">Seleccionar</option>
                  <option value="1">PRESIDENCIA</option>
                  <option value="2">GAD</option>
                </select>
              </div>
            </div>
            <div class="col-lg-12 invi" id="selectAreaDos">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Seleccionar el area:</label><br>
                <select class="form-control custom-select" formControlName="areados">
                  <option value="">Seleccionar</option>
                  <option value="1">GAD</option>
                  <option value="2">Unidad de Administrativa y Finanzas</option>
                  <option value="3">Oficina de Administracion</option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Numero:</label>
                <input type="number" class="form-control" id="recipient-name" formControlName="numero">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Año:</label>
                <input type="number" class="form-control" id="recipient-name" formControlName="ano">
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR PERIODO DE LICENCIA</h5>
              <hr>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Desde:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="inicio">
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Hasta:</label>
                  <input class="form-control" type="date" id="example-date-input" formControlName="fin">
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Periodo:</label>
                  <input type="number" class="form-control" id="recipient-name" formControlName="periodo">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <h5 style="font-weight: 900;color: rgba(84, 0, 0, 0.91);font-size: 13px;">INGRESAR DOCUMENTO DE LICENCIA
              </h5>
              <hr>
            </div>
            <div class="col-lg-12">
              <div class="form-group validate">
                <h5>Adjuntar Documento <span class="text-danger">*</span></h5>
                <div class="controls">
                  <input type="file" name="file" id="filesInput" class="form-control" required="" aria-invalid="false"
                    #fileVacacional (change)="capturarFileVacacional($event)" accept="application/pdf">
                  <div class="help-block">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelartres()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="registrarVacacional()" [disabled]="vacacionalForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

