
<div class="row mb-5">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarOrgano" data-whatever="@mdo">Agregar</button>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre de Organo</th>
      <th scope="col">Sigla</th>
      <th scope="col">Nombre de Sede</th>
      <th scope="col">Estado</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let organo of listOrgano">
      <th scope="row" >{{organo.id}}</th>
      <td>{{organo.nombre}}</td>
      <td>{{organo.sigla}}</td>
      <td>{{organo.Sede.nombre}}</td>
      <td *ngIf="organo.estado===1">Activo</td>
      <td *ngIf="organo.estado===0">Inactivo</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarOrgano" data-whatever="@mdo" (click)="obtenerOrganoId(organo.id)">Editar</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="modal fade" id="agregarOrgano" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="organoForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sigla:</label>
            <input type="text" class="form-control" formControlName="sigla">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Seleccionar Sede:</label><br>
            <select class="form-control custom-select" formControlName="sede" >
              <option selected value="">Seleccionar</option>
              <option *ngFor="let sede of listSedes" value="{{sede.id}}">{{sede.nombre}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="registrarOrgano()" [disabled]="organoForm.invalid">Registrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modificarOrgano" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="organoEditarForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sigla:</label>
            <input type="text" class="form-control" formControlName="sigla">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Seleccionar Sede:</label><br>
            <select class="form-control custom-select" formControlName="sede" >
              <option selected value="">Seleccionar</option>
              <option *ngFor="let sede of listSedes" value="{{sede.id}}">{{sede.nombre}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarOrgano()" [disabled]="organoEditarForm.invalid">Editar</button>
      </div>
    </div>
  </div>
</div>
