<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">PERSONAL</th>
        <th scope="col">TIPO DOCUMENTO</th>
        <th scope="col">CARGO</th>
        <th scope="col">AREA</th>
        <th scope="col">DEPENDENCIA</th>
        <th scope="col">INICIO</th>
        <th scope="col">FIN</th>
        <th scope="col">DOCUMENTO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let general of listGeneral">
        <th scope="row">{{general.id}}</th>
        <td>{{general.id_personal}}</td>
        <td>{{general.id_tipo_documento}}</td>
        <td>{{general.id_cargo}}</td>
        <td>{{general.id_dependencia}}</td>
        <td>{{general.id_area}}</td>
        <td>{{general.inicio}}</td>
        <td>{{general.fin}}</td>
        <td>{{general.documento}}</td>
      </tr>
    </tbody>
  </table>
