<div class="row mb-5">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalArea" data-whatever="@mdo">
      <i class="fa fa-plus-square"></i> Agregar</button>
  </div>
  <div class="col-lg-4">
    <div class="form-group">
      <select class="form-control custom-select" (change)="mostrarAreaTipo($event)">
        <option value="1">Habilitados</option>
        <option value="0">Desabilitado</option>
      </select>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">SIGLA</th>
      <th scope="col">UNIDAD ORGANICA</th>
      <th scope="col">ESTADO</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let area of listArea">
      <th scope="row">{{area.id}}</th>
      <td>{{area.nombre}}</td>
      <td>{{area.sigla}}</td>
      <td>{{area.UnidadOrganica.nombre}}</td>
      <td *ngIf="area.estado===1">Activo</td>
      <td *ngIf="area.estado===0">Inactivo</td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarArea" data-whatever="@mdo" (click)="obtenerDatosId(area.id)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td *ngIf="area.estado===0">
        <button type="button" class="btn btn-primary" (click)="eliminarArea(area.id, 1)">
          <i class="fa fa-lock-open"></i>
        </button>
      </td>
      <td *ngIf="area.estado===1">
        <button type="button" class="btn btn-primary" (click)="eliminarArea(area.id,0)">

          <i class="fa fa-lock"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>

<div class="modal fade" id="modalArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">REGISTRAR AREA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="areaForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sigla:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="sigla">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Seleccionar Unidad Organica:</label><br>
            <select class="form-control custom-select" formControlName="unidad" >
              <option selected value="">Seleccionar</option>
              <option *ngFor="let unidad of listUnidad" value="{{unidad.id}}">{{unidad.nombre}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="registrarAreas()" [disabled]="areaForm.invalid">Registrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modificarArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;" >EDITAR AREA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="areaEditarForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sigla:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="sigla">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Seleccionar Unidad Organica:</label><br>
            <select class="form-control custom-select" formControlName="unidad" >
              <option selected value="">Seleccionar</option>
              <option *ngFor="let unidad of listUnidad" value="{{unidad.id}}">{{unidad.nombre}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarAreas()" [disabled]="areaEditarForm.invalid">Editar</button>
      </div>
    </div>
  </div>
</div>
